{
  "root": true,
  "extends": [
    "./packages/eslint-config",
    "prettier"
  ],
  "rules": {
    "sort-keys": [
      "error",
      "asc",
      {
        "caseSensitive": true,
        "minKeys": 2,
        "natural": true
      }
    ]
  }
}
